aiofiles
aiohttp
uvloop
python-dotenv
attrify
bs4
emoji
GitPython
gpytranslate
gtts
html2text
motor
opencv-python-headless
openai
Pillow==9.3.0
psutil
pykeyboard
pySmartDL
pytz
pyrofork
pytgcalls==3.0.0.dev24
python-dateutil
removebg
requests
telegraph
TgCrypto-pyrofork
unidecode
wget
youtube-search-python
yt-dlp
