aiofiles
aiohttp
uvloop
python-dotenv
attrify
bs4
dnspython
emoji
GitPython
gpytranslate
gtts
html2text
motor[srv]
opencv-python-headless
openai
Pillow==9.3.0
psutil
pykeyboard
pySmartDL
pytz
pymediainfo
pymongo
pyromod==1.1
pyrofork
python-dateutil
pytgcalls
removebg
requests
telegraph
TgCrypto-pyrofork
unidecode
wget
youtube-search-python
yt-dlp
